#gs-sponsors {
	position: relative;
	width: 520px;
	margin: 0px auto 16px auto;
}
#gs-pga-logo {
	display: block;
	width: 35%;
	margin: 0px auto;
}
#gs-pga img {
	display: block;
	width: 100%;
}
#gs-img-tagline {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
	color: #0065bd; /* blue */
}
.gs-sponsor {
	display: inline-block;
}
#gs-et img, #gs-ct img, #gs-lt img {
	 width: 120px;
}
#gs-et img, #gs-ct img, #gs-lt img, #gs-rc img {
	margin: 0 10px;
	height: 70px;
}
#gs-ftr-navbar {
	margin-bottom: 10px;
}
@media only screen and (max-width: 360px) {
	#gs-sponsors {
		width: 340px;
	}
	#gs-pga-logo {
		display: block;
		width: 40%;
	}
	#gs-img-tagline {
		font-size: 12px;
	}
	.gs-sponsor {
		display: inline-block;
	}
	#gs-et img, #gs-ct img, #gs-lt img {
		width: 70px;
	}
	#gs-et img, #gs-ct img, #gs-lt img, #gs-rc img {
		height: 40px;
	}
}
